@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Dominic Grazioli:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="mailto:graziodj@rose-hulman.edu"> graziodj@rose-hulman.edu</a> <br />
    Cambron Johnson:&nbsp;&nbsp;  <a href="johnsocp@rose-hulman.edu"> johnsocp@rose-hulman.edu</a> <br />
    Aaron Michael:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="michaeap@rose-hulman.edu"> michaeap@rose-hulman.edu</a> <br />
</p>