@{
    ViewBag.Title = "Home Page";
}

<h1>eSports Tracker</h1>

<div>
    <p>This is a super cool database for tracking data from different eSports games.
        
        <img src="~/Content/esports-980x620.jpg" alt="eSports Arena" />
    </p>
</div>

