@{
    ViewBag.Title = "Home Page";
}

<h1>eSports Tracker</h1>

<div>
    <p>This is a super cool database for tracking data from different eSports games.
        
        We need to add more here.
    </p>
</div>

